@import url("https://fonts.googleapis.com/css2? famille=Luckiest+Guy&display=swap");

@import url("https://fonts.googleapis.com/css2? family=Luckiest+Guy&family=Palette+Mosaic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#head {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
}


#wait{
  position: absolute;
  left: 50%;
  top: 53%;
  z-index: 1;
  margin: 0px 0 0 -70px;
  
  animation: fade ease 1s; 
  animation-duration: 2s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite; 
} 

 @keyframes fade { 
 0% { 
 opacity: 0; 
 } 
 100% { 
 opacity: 1; 
 } 
} 


/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 90px;
  height: 90px;
  margin: -76px 0 0 -76px;
  border: 10px solid #9d3f3f;
  border-radius: 50%;
  border-top: 10px solid #ff0000;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  display: none;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(150%);
  cursor: pointer;
  border-radius: 0%;
  border: none;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
}



@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}



/*Pour pouvoir changer le background du menu en scrollant, dans lequel on injecte du javascript*/

.scrolled {
  background-color: #000000;
  box-shadow: 0px 0px 4px rgb(218, 218, 218);
}
nav {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  font-size: 15px;
  transition: color 0.4s;
}

ul li a:hover {
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  /* background:linear-gradient(rgba(193, 49, 49, 0), rgba(255, 0, 0, 0), rgba(178, 45, 45, 0)); */
  background-color: #000000;
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  filter: brightness(100%);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}

#bi1 {
  color: #ffffff;
  text-decoration: none;
}

#bi2 {
  color:rgb(255, 0, 0);
  text-decoration: none;
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  filter: brightness(100%);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}


#bi3 {
  color: #ffffff;
  text-decoration: none;
}

#bi4 {
  color: #ffffff;
  text-decoration: none;
}
#bi5 {
  color: #ffffff;
  text-decoration: none;
}

ul li a:active {
  font-size: 15px;
  color: red;
}

.logo {
    width: 150px;
    height: 50px;
    border: none;
    filter: brightness(150%);
    top: 0px;
    left: 35px;
    position: fixed;
    z-index: 1;
    padding: 0px;
  }

.destop-list {
  margin-left: 170px;
}
.destop-list li {
  float: left;
  padding-top: 0;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-top: 5px;
}

.destop-list li a {
  text-decoration: none;
}

form {
  padding: 0px;
  text-align: right;
}

input {
  font-size: 15px;
  color: white;
  border: solid 2px white;
  background-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #141414;
  margin: 0;
  padding: 0;
}


.mobile-list {
  display: none;
}

@media only screen and (max-width: 767px) {
  nav .destop-list {
    display: none;
  }

  input {
    display: none;
  }

  .mobile-list {
    background-color: #000000;
    box-shadow: 0px 0px 4px rgb(218, 218, 218);
    filter: brightness(120%);
    display: block;
    color: #959393;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    margin: 0px;
    border-radius: 10px 10px 0 0;
  }

  .mobile-list i {
    font-size: 4vmin;
  }
  
  body::-webkit-scrollbar{
    display: none;
  }

  .animate-bottom {
    position: relative;
    display: none;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(150%);
    cursor: pointer;
    border-radius: 0%;
    border: none;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
    box-shadow: 0px 0px 8px rgb(218, 218, 218);
  }
  

  video{
    object-fit: inherit;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0px;
    text-align: center;
    padding: 0px;
    position: relative;
  }

  #bi1 {
    color: #959393;
    text-decoration: none;
  }

  #bi2 {
    color:rgb(255, 0, 0);
    text-decoration: none;
    filter: none;
   border-radius: 0;
   padding: 0;
   box-shadow: none;
  }


  #bi3 {
    color: #959393;
    text-decoration: none;
  }

  #bi4 {
    color: #959393;
    text-decoration: none;
  }
  #bi5 {
    color: #959393;
    text-decoration: none;
  }

  .logo {
    display: none;
  }


  #loader {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -76px 0 0 -25px;
    border: 10px solid #9d3f3f;
    border-radius: 50%;
    border-top: 10px solid #ff0000;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  #wait{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: 0px 0 0 -35px;
    
    animation: fade ease 1s; 
    animation-duration: 2s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite; 
  } 
  
   @keyframes fade { 
   0% { 
   opacity: 0; 
   } 
   100% { 
   opacity: 1; 
   } 
  } 

}
