@import url("https://fonts.googleapis.com/css2? famille=Luckiest+Guy&display=swap");

@import url("https://fonts.googleapis.com/css2? family=Luckiest+Guy&family=Palette+Mosaic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#head {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
}

/*Pour pouvoir changer le background du menu en scrollant, dans lequel on injecte du javascript*/

.scrolled {
  background-color: #000000;
  box-shadow: 0px 0px 4px rgb(218, 218, 218);
}
nav {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  font-size: 15px;
  transition: color 0.4s;
}

ul li a:hover {
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  /* background:linear-gradient(rgba(193, 49, 49, 0), rgba(255, 0, 0, 0), rgba(178, 45, 45, 0)); */
  background-color: #000000;
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  filter: brightness(100%);
  border-radius: 20px;
  padding: 5px 10px 5px 10px; 
  font-size: 15px;
}

ul li a:active {
  font-size: 15px;
  color: red;
}

#bi1 {
  color: #ffffff;
  text-decoration: none;
}

#bi2 {
  color: #ffffff;
  text-decoration: none;
}

#bi3 {
  color: #fffafa;
  text-decoration: none;
}

#bi4 {
  color: #ffffff;
  text-decoration: none;
}
#bi5 {
  color: #ff0303;
  text-decoration: none;
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  filter: brightness(100%);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.logo {
    width: 150px;
    height: 50px;
    border: none;
    filter: brightness(150%);
    top: 0px;
    left: 35px;
    position: fixed;
    z-index: 1;
    padding: 0px;
  }

.destop-list {
  margin-left: 170px;
}
.destop-list li {
  float: left;
  padding-top: 0;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-top: 5px;
}

.destop-list li a {
  text-decoration: none;
}


body {
  background-color: #141414;
  margin: 0;
  padding: 0;
}

.mobile-list {
  display: none;
}

@media only screen and (max-width: 767px) {
  nav .destop-list {
    display: none;
  }

  input {
    display: none;
  }

  .mobile-list {
    background-color: #000000;
    box-shadow: 0px 0px 4px rgb(218, 218, 218);
    filter: brightness(120%);
    display: block;
    color: #959393;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    margin: 0px;
    border-radius: 10px 10px 0 0;
  }

  .mobile-list i {
    font-size: 4vmin;
  }

  #bi1 {
    color: #959393;
    text-decoration: none;
  }

  #bi2 {
    color: #959393;
    text-decoration: none;
  }

  #bi3 {
    color: #959393;
    text-decoration: none;
  }

  #bi4 {
    color: #959393;
    text-decoration: none;
  }
  
  #bi5 {
    color: #ff0303;
    text-decoration: none;
    filter: none;
   border-radius: 0;
   padding: 0;
   box-shadow: none;
  }
 

  .logo {
    width: 120px;
    height: 50px;
    border: none;
    filter: brightness(100%);
    top: 1px;
    left: 5px;
    /* margin-left: 50%;
      transform: translateX(-50%); */
    position: fixed;
    z-index: 1;
  }

}