/* Embed google fonts for demo layout
-----------------------------------------*/

@import url("https://fonts.googleapis.com/css2? famille=Luckiest+Guy&display=swap");

@import url("https://fonts.googleapis.com/css2? family=Luckiest+Guy&family=Palette+Mosaic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#head {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  cursor: pointer;
}

::-webkit-scrollbar{
  display: none;
}

/*Pour pouvoir changer le background du menu en scrollant, dans lequel on injecte du javascript*/

.scrolled {
  background-color: #000000; 
  box-shadow: 0px 0px 4px rgb(218, 218, 218);
}
nav{
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  font-size: 15px;
  transition: color .4s;
}

ul li a:hover {
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #000000;
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  filter: brightness(100%);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}

#bi1{
  color:rgb(255, 0, 0);
  text-decoration: none;
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  filter: brightness(100%);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

#bi2{
 color:#ffffff;
 text-decoration: none;
}

 #bi3{
   color:#ffffff;
   text-decoration: none;
  }

 #bi4{
   color:#ffffff;
   text-decoration: none;
  }
  #bi5{
   color:#ffffff;
   text-decoration: none;
  }

ul li a:active {
  font-size: 15px;
}

.destop-list {
  margin-left: 150px;
  filter: brightness(110%);
}
.destop-list li {
  float: left;
  padding-top: 0;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-top: 10px;
}

.destop-list li a {
  text-decoration: none;
}


html, body {
  background-color: #141414;
  margin: 0;
  padding: 0;
  width: 100%;
}

.imgCont-desktop{
  display: block;
}

.img-desktop {
  display: flex;
  position: static;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(120%);
  cursor: pointer;
  border-radius: 0%;
  border: none;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  cursor: pointer;
}

.img{
  display: none;
}

.imgCont{
  display: none;
}

.vid1popup {
  position: static;
  width: 400px;
  height: 400px;
  filter: brightness(150%);
  cursor: pointer;
}

.logo {
  width: 100px;
  height: 60px;
  border: none;
  filter: brightness(120%);
  top: 0px;
  left: 65px;
  position: fixed;
  z-index: 1;
  padding: 0px;
}

.grid-container {
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-rows: auto;
  row-gap: 0px;
  height: 450px;
  width: 40%;
  top:200px;
  left: 70px;
  justify-content: left;
  cursor: pointer;
}



.item2{
  height: 50px;
  width: 610px;
}

.grantit {
  width: 300px;
  height: 310px;
  animation-name: glissement;
  animation-delay: 10s;
  animation-direction: normal;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
  animation-iteration-count: 1; 
} 

@keyframes glissement { 
  from {
    margin-top: 0%;
    
  }

  to {
    margin-top: 22%;
  
  }
} 

.grid-item{
  width: 610px;
  height: 200px;
  
}

.grid-item1{ 
  margin: 0;
  padding: 0;
  width: 610px;
  height: 120px;
  font-size: 1.2rem;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: rgb(255, 255, 255);
  border: none;

animation: fadeInAnimation ease 1s; 
animation-delay: 10s;
animation-fill-mode: forwards; 
animation-iteration-count: 1; 
} 
 @keyframes fadeInAnimation { 
 0% { 
 opacity: 1; 
 } 
 100% { 
 opacity: 0; 
 } 
} 

.rezimtit-mobile{
  display: none;
}
.item1{
  display: none;
}

.lekti{
  text-decoration: none;
  animation-name: montee;
  animation-delay: 10s;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  animation-iteration-count: 1; 
} 

@keyframes montee { 
  from {
    margin-top: 3%;
    
  }

  to {
    margin-top: 0%;
  
  }
} 

.lekti1{
  animation-name: montee;
  animation-delay: 10s;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  animation-iteration-count: 1; 
} 

@keyframes montee { 
  from {
    margin-top: 3%;
    
  }

  to {
    margin-top: 0%;
  
  }
} 




.btn-info{
  font-size: 15px;
  font-weight: bold;
  padding: 7px 7px 7px 1px;
  color: #000000;
  background-color: #ffffff00;
}

.btn-info:hover{
background-color: #ffffff00;
font-size:14px;
}

.btn-info1{
  font-size: 15px;
  font-weight: bold;
  padding: 7px 7px 7px 1px;
}

.btn-info1:hover{
font-size:14px;
}

svg {
  height: 20px;
  width: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0, 0.7);
  transition: opacity 0.7s;
  visibility: hidden;
  opacity: 0;
}

.overlay:target { 
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 6rem auto;
  padding: 2rem;
  background: linear-gradient(
    to right,
    black,
    rgb(23, 16, 16),
    rgb(0, 0, 0)
  );
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  border-radius: 15px;
  border: 2px solid #000000;
  width: 50%;
  height: 100%;
  position: relative;
  transition: 0.4s ease-in-out;
  overflow-y: scroll;
}

.popup .cross {
  right: 1.5rem;
  top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  transition: 0.3s ease;
  color: white;
  border: 0 solid #0c0c0c;
  cursor: pointer;
}

.popup .cross:hover {
  color: rgb(255, 3, 3);
}

#btn {
  border-radius: 3px 3px 3px 3px;
  background-color: white;
  border: solid 2px white;
  cursor: pointer;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  width: 180px;
  height: 45px;
  text-transform: uppercase;
  filter: brightness(110%);
}

#btn1 {
  border-radius: 3px 3px 3px 3px;
  background-color: rgba(148, 147, 147, 0.325);
  border: solid 2px rgba(255, 255, 255, 0.325);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  color: #000000;
  font-size: 15px;
  margin-left: 10px;
  width: 180px;
  height: 45px;
  text-transform: uppercase;
  filter: brightness(110%);
}

#btn2 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 254, 254);
  background: rgba(16, 16, 16, 0.232);
  box-shadow: 2px 6px 12px rgb(218, 218, 218);
  padding: 10px 30px 10px 20px;
  border: 1px solid rgb(255, 255, 17);
  outline: none;
  cursor: pointer;
  width: 145px;
  height: 45px;
  text-align: center;
  z-index: 2;
  position: absolute;
  bottom: 60px;
  left: 80px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-sizing: border-box;
}


#btn2:hover {
  cursor: pointer;
  font-size: 14px;
  background: rgb(246, 254, 20);
  box-shadow: 0 0 5px rgb(255, 234, 3), 0 0 20px rgb(255, 234, 3);
  border: 1px solid red;
  color: red;
}


#btn2:active {
  font-size: 12px;
  visibility: hidden;
}


.foot-container {
  width: 100%;
  height: 450px;
  background: linear-gradient(to right, #141414, #141414,black, #000000); 
  position: relative;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(3, 1fr);
  gap: 10px;
  cursor: pointer;
  justify-items: center;
  box-shadow: 0px 0px 4px rgb(218, 218, 218);
}

.foot-item {
  text-align: center;
  color: red;
  padding-top: 30px;
  font-size: 12px;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.more {
  padding-left: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.more:hover {
  font-size: 20px;
  color: rgb(255, 1, 1);
  transition: 0.5s ease;
}

h3 {
  color: rgb(255, 253, 253);
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  grid-column: span 3;
  padding-bottom: 0;
}

.footer1 {
  display: flex;
  justify-content: center;
  grid-column: span 3;
  padding-top: 0;
}

.svg {
  color: rgb(50, 93, 252);
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.svg1 {
  background-color: rgb(16, 88, 255);
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.svg2 {
  color: rgb(0, 202, 118);
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.svg3 {
  color: rgb(16, 203, 255);
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.svg4 {
  color: #ffdd00;
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.svg5 {
  color: #73bef4;
  height: 20px;
  width: 20px;
}

.btn-svg8{
  display: none;
 }


#mute{
  display: none;
}

#info-vidprincipal{
  display: none;
}

#svg7 {
  color: rgb(255, 255, 255);
  margin: 50px;
  font-size: 25px;
  
}

#svg7:active{
  color: #ff0000;
  font-size: 22px;
}

.btn-svg8-unmute{
  display: block;
  height: 50px;
  width: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  border: #ff0000 solid 2px;
  box-shadow: 0px 5px 28px rgb(255, 0, 0), 0px 0px 18px rgb(218, 218, 218);
  z-index: 3;
  filter: brightness(120%);
  
  animation: fade ease 5s; 
  animation-duration: 5s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite; 
} 

 @keyframes fade { 
 0% { 
 opacity: 0; 
 } 
 100% { 
 opacity: 1; 
 } 
} 



/* .after-vidPrincipale{
  transform: translateY(-100px);
}
.after1{
  transform: translateY(-65px);
}
.after2{
  transform: translateY(-65px);
} */

.card-container {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: repeat(6, 220px);
  margin-left: 70px;
  position: relative;
  overflow: hidden;
  column-gap: 20px;
  justify-items: stretch;
  filter: brightness(120%);
}

.listing-card {
  height: 150px;
  background-color: #000000;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
  position: relative;
  /* display: flex; */
  transition: 0.5s ease-in-out;
  width: 220px;
  height: 150px;
}


.listing-card .video {
  height: 120px;
}

.listing-card .video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-sizing: border-box;
}

.listing-card .video video:hover {
  width: 100%;
  height: 150px;
  transition: 1.1s ease-in-out 0.5s;
}


.listing-card .details {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 13px;
}

.listing-card .btn-default {
  background: linear-gradient(
    to right,
    black,
    rgb(23, 16, 16),
    rgb(147, 53, 53)
  );
  display: inline-block;
  position: static;
  color: #fff;
  width: 70px;
  height: 30px;
  border-radius: 0 0 5px 0;
  text-decoration: none;
  margin-left: 150px;
  text-align: right;
}


.titre {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  color:#e5e5e5;
  text-align: left;
  /* text-shadow: 1px 1px 2px red, 0 0 1em rgb(238, 255, 0), 0 0 0.2em rgb(221, 255, 0);  */
  margin-left: 70px;
}

h3 {
  color: rgb(113, 255, 12);
  font-weight: bold;
  font-size: medium;
  padding-left: 5px;
  padding-right: 5px;
}


.mobile-list{
  display: none;
}

.shadow-desktop{
  background: linear-gradient(to bottom, rgb(0, 0, 0),rgba(0, 0, 0, 0),
     rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.055), 
    rgba(0, 0, 0, 0.941), rgb(0, 0, 0));
    box-shadow: 0px 50px 50px rgb(0, 0, 0), 0px 50px 50px black;
    height: 800px;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    cursor: pointer;
}


.shadow{
  display: none;
}

.overlay-info-plus {
  display: none;
  
}

.overlay-info-plus:target {
  display: none;
}

.popup-info-plus {
 display: none;
}

.popup-info-plus .cross-info-plus {
  display: none;
 }

.mute{
  display: none;
}

.info-mobile{
  display: none;
}


/* Add animation to "page content" */
.animate-square {
  position: relative;
  display: none;
  -webkit-animation-name: animatesquare;
  -webkit-animation-duration: 1s;
  animation-name: animatesquare;
  animation-duration: 1s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 0%;
  border: none;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
}



@-webkit-keyframes animatesquare {
  0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1; 
    } 
}

@keyframes animatesquare { 
  0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1; 
    } 
}

#myDiv {
  display: none;
  text-align: center;
}

#myDiv-grid {
  display: none;
  text-align: center;
}

#myDiv-card {
  display: none;
  text-align: center;
}

#myDiv-footer {
  display: none;
  text-align: center;
}

#squelettum {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  border-radius: 0%;
  border: none;
  background-color: #141414;
  cursor: pointer;

 }

.squelet{
  background-color: #ddd9d927;
  display: flex;
  position: relative;
  width: 60%;
  height: 40%;
  margin-top:5%;
  margin-left: 50%;
  transform: translateX(-50%);

  animation: fade ease 1s; 
  animation-duration: 2s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite; 
} 

 @keyframes fade { 
 0% { 
 opacity: 0; 
 } 
 100% { 
 opacity: 1; 
 } 

}


.squelet-square{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  overflow: hidden;
  column-gap: 20px;
  justify-items: stretch;
  margin-left: 5%;
  margin-right: 5%;

   }

.squelet-card{
  height: 150px;
  background-color: #ddd9d927;
  margin-right: 5px;
  position: relative;
  /* display: flex; */
  transition: 0.5s ease-in-out;

  animation: fade ease 1s; 
  animation-duration: 2s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite; 
} 

 @keyframes fadeOne { 
 0% { 
 opacity: 0; 
 } 
 100% { 
 opacity: 1; 
 } 

}
  




@media only screen and (max-width: 767px) {
  
  @media (orientation:portrait) {
    body{
      flex-direction: column;
    }
  }
  
  
  .scrolled{
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
  }

  #head{
    z-index: 3;
  }
  .imgCont-desktop{
    display: none;
  }

  .img-desktop{
    display: none;
  }
  
  .img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    object-position: 50% 50%;
    filter: brightness(120%);
    box-shadow: none;
    height: 610px;
  }

  .imgCont{
    display: block;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    box-shadow: 0px 55px 50px rgb(0, 0, 0);
    height: 610px;
  }

  .shadow{
    display: block;
    background: linear-gradient(to bottom, rgb(0, 0, 0),rgb(0, 0, 0),
     rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.793), 
    rgb(0, 0, 0), rgb(0, 0, 0));
    box-shadow: 0px 55px 50px rgb(0, 0, 0);
    height: 615px;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: block;
    cursor: pointer;
  }

  .shadow-desktop{
    display: none;
  }


  .overlay-info-plus {
    display: block;
    position: fixed;
    bottom: 0;
    background: rgb(0, 0, 0, 0.7);
    transition: opacity 0.7s;
    visibility: hidden;
    opacity: 0;
  }
  
  .overlay-info-plus:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup-info-plus {
    display: block;
    margin: 6rem auto;
    padding: 2rem;
    background: linear-gradient(
      to right,
      black,
      rgb(23, 16, 16),
      rgb(0, 0, 0)
    );
    box-shadow: 0px 0px 8px rgb(218, 218, 218);
    border-radius: 15px;
    border: 2px solid #000000;
    width: 50%;
    height: 100%;
    position: relative;
    transition: 0.4s ease-in-out;
    overflow-y: scroll;
  }
  
  .popup-info-plus .cross-info-plus {
    display: block;
    right: 1.5rem;
    top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    transition: 0.3s ease;
    color: white;
    border: 0 solid #0c0c0c;
    cursor: pointer;
  }
  
  .popup-info-plus .cross-info-plus:hover {
    color: rgb(255, 3, 3);
  }


  nav .destop-list {
    display: none;
  }

  
  .mobile-list{
    background-color: #000000; 
    box-shadow: 0px 0px 8px rgb(218, 218, 218);
    filter: brightness(120%);
    color:#959393;
    position: fixed;
    bottom: 0;
    left:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    height: auto;
    padding: 15px;
    cursor: pointer;
    margin: 0px;
    border-radius: 10px 10px 0 0;
  }

  .mobile-list i{
    font-size: 4vmin;
  }

  #bi1{
   color:rgb(255, 0, 0);
   text-decoration: none;
   filter: none;
   border-radius: 0;
   padding: 0;
   box-shadow: none;
 }

 #bi2{
  color:#959393;
  text-decoration: none;
 }

  #bi3{
    color:#959393;
    text-decoration: none;
   }

  #bi4{
    color:#959393;
    text-decoration: none;
   }
   #bi5{
    color:#959393;
    text-decoration: none;
   }
  

  .logo {
    width: 70px;
    height: 60px;
    border: none;
    top: 1px;
    left: 15PX;
    /* margin-left: 50%;
    transform: translateX(-50%); */
    position: fixed;
    z-index: 1;
  }


  .grid-container {
    position:absolute;
    z-index: 2;
    display: grid;
    grid-template-rows: 90px 33px 30px;
    row-gap: 5px;
    height: 130px;
    width: 70%;
    top:370px;
    justify-content: center;
    margin: auto;
    opacity: 1.0;
  } 

  @keyframes glissement { 
    from {
      margin-top: none;
      
    }
  
    to {
      margin-top: none;
    
    }
  } 



  .grid-item{
    height: 60px;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .grid-item1{
    display: none;
  }

  .grantit {
    width:200px;
    height: 140px;
    animation-name: none;
    animation-delay: none;
    animation-direction: none;
    animation-duration: none;
    animation-fill-mode: none; 
    animation-iteration-count: none; 
  }

  .rezimetit {
    display: none;
  }

  .item1{
    display: inline-flex;
    width: 90vw;
    height: 30px;
    margin-top: 20px;
    justify-content: center;
    list-style-position: inside;
  }

  .item2{
    display: inline-flex;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    justify-content: center;
    
  }

  .rezimtit-mobile {
    display:list-item;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color:#ffffff;
    padding: 0px 10px 0px 10px;
    text-align: center;
  } 

  ::marker{
    color: white;
    font-size: 10px;

  }

  
  svg {
    height: 15px;
    width: 15px;
  }

  #mute{
    display: flex;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-style: normal;
    font-size: 20px;
  }

  .mute{
    display: block;
    font-size: 12px;
    text-align: center;
    align-items: center;
    color: white;
    margin: 5px 40px 5px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
  }

  #mute:active{
    color: rgb(255, 0, 0);
  }

  #mute:hover{
    color: red;
  }

  #info-vidprincipal{
    display: block;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 10px;
    padding-bottom: 5px;
  }

  .info-mobile{
    display: block;
    font-size: 12px;
    text-align: center;
    align-items: center;
    color: white;
    margin: 5px 0 5px 40px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
  }

  .info-plus{
    text-decoration: none;
  }

  #info-vidprincipal:active{
    color: rgb(40, 147, 230);
  }

  #info-vidprincipal:hover{
    color: rgb(40, 147, 230);
  }


  .btn-info{
    font-size: 10.5px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #ffffff00;
    color: #000000;
    text-transform: capitalize;
    padding-bottom:10px;
  }


  .btn-info1{
    display: none;
  }

  .btn-info:hover{
    background-color: #ffffff00;
    font-size:10px;
    }

  #btn {
    border: solid 2px white;
    cursor: pointer;
    width: 85px;
    height: 30px;
    padding-bottom: 5px;
    
  }

  #btn1 {
    display: none;
  }

  .lekti1{
    display: none;
  }

  .lekti{
    animation-name: none;
    animation-delay: none;
    animation-direction: none;
    animation-duration: none;
    animation-fill-mode: none; 
    animation-iteration-count: none; 
    
  } 
  
  @keyframes montee { 
    from {
      margin-top: none;
      
    }
  
    to {
      margin-top: none;
    
    }
  } 
  

  #btn2 {
    left: 35px;
  }


 .btn-svg8{
  display: flex;
  height: 40px;
  width: 40px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 100px;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  overflow: hidden;
  z-index: 3;
  
  animation: fade ease 5s; 
  animation-duration: 5s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite; 
} 

 @keyframes fade { 
 0% { 
 opacity: 0; 
 } 
 100% { 
 opacity: 1; 
 } 
} 

#svg7{
  display: none;
}

 .svg8 {
  height: 25px; 
  width: 80px;
  color: red;
 }

 .btn-svg8-unmute{
   display: none;
 }


 .foot-container{
    display: none;
  }
  
  
   .after-vidprincipal{
    top: 0px;
    
  }
  

  .card-container {
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
    grid-template: repeat(2, auto)/ repeat(4,auto);
    position: relative;
    overflow: hidden;
    gap: 20px 5px;
    justify-items: stretch;
    top: 10px;
    filter: brightness(120%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    box-shadow: 0px 40px 35px rgb(0, 0, 0);
  }

  .listing-card {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 150px;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 55px 50px rgb(0, 0, 0);

  }
  
  .listing-card .video {
    height:150px;
    width:100%;
  }
  
  .listing-card .video img { 
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .listing-card .video img:hover{
  filter: brightness(130%);
  transform:translateY(-10%);
  }
  

  
  .titre {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 25px;
    color:#e5e5e5;
    text-align: left;
    margin-left: 15px;
    margin-top: 0px;
  }
  
  h3 {
    color: rgb(103, 57, 57);
    font-weight: bold;
    font-size:13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    margin-top:5px;
  }
  h1{
    font-size: 20px;
  }

  #squelettum {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border: none;
    background-color: #141414;
    
   }


   .squelet{
    background-color: #ddd9d927;
    display: flex;
    position: relative;
    width: 60%;
    height: 40%;
    margin-top:10%;
    margin-left: 50%;
    transform: translateX(-50%);
  
    animation: fade ease 1s; 
    animation-duration: 2s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite; 
  } 
  
   @keyframes fade { 
   0% { 
   opacity: 0; 
   } 
   100% { 
   opacity: 1; 
   } 
  
  }

  .squelet-square{
    display: grid;
    grid-template: repeat(4, auto)/repeat(2,1fr);
    position: relative;
    overflow: hidden;
    gap: 30px;
    justify-items: stretch;
   
    
  
     }
  
  .squelet-card{
    height: 150px;
    background-color: #ddd9d927;
    position: relative;
    /* display: flex; */
    transition: 0.5s ease-in-out;
    
  
    animation: fade ease 1s; 
    animation-duration: 2s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite; 
  } 
  
   @keyframes fadeOne { 
   0% { 
   opacity: 0; 
   } 
   100% { 
   opacity: 1; 
   } 
  
  }
    

 }
