/* Embed google fonts for demo layout
-----------------------------------------*/

@import url("https://fonts.googleapis.com/css2? famille=Luckiest+Guy&display=swap");

@import url("https://fonts.googleapis.com/css2? family=Luckiest+Guy&family=Palette+Mosaic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#head {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
}

::-webkit-scrollbar{
  display: none;
}

/*Pour pouvoir changer le background du menu en scrollant, dans lequel on injecte du javascript*/

.scrolled {
  background-color: #000000; 
  box-shadow: 0px 0px 4px rgb(218, 218, 218);
}
nav{
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  font-size: 15px;
  transition: color .4s;
}

ul li a:hover {
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #000000;
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  filter: brightness(100%);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}

#bi1{
  color:rgb(255, 0, 0);
  text-decoration: none;
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  filter: brightness(100%);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

#bi2{
 color:#ffffff;
 text-decoration: none;
}

 #bi3{
   color:#ffffff;
   text-decoration: none;
  }

 #bi4{
   color:#ffffff;
   text-decoration: none;
  }
  #bi5{
   color:#ffffff;
   text-decoration: none;
  }

ul li a:active {
  font-size: 15px;
}

.destop-list {
  margin-left: 170px;
}
.destop-list li {
  float: left;
  padding-top: 0;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-top: 5px;
}

.destop-list li a {
  text-decoration: none;
}


html, body {
  background-color: #141414;
  margin: 0;
  padding: 0;
  filter: brightness(220px);
}

.img {
  position: static;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(100%);
  cursor: pointer;
  border-radius: 0%;
  border: none;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  cursor: pointer;
}

.vid1popup {
  position: static;
  width: 400px;
  height: 400px;
  filter: brightness(150%);
  cursor: pointer;
}

.logo {
  width: 150px;
  height: 50px;
  border: none;
  filter: brightness(120%);
  top: 0px;
  left: 50px;
  position: fixed;
  z-index: 1;
  padding: 0px;
}

.grid-container {
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-rows: 33% 17% 10%;
  row-gap: 0px;
  height: 100%;
  width: 100%;
  justify-items: stretch;
  top:200px;
  left: 70px;
}

.grid-item {
  margin: 0;
  padding: 0;
  width: 700px;
}

.grantit {
  color: #b4a12a;
  font-weight: bolder;
  font-size: 200px;
  font-family: fantasy;

  /* animation: fadeInAnimation ease 5s;  */
  animation-name: glissement;
  animation-delay: 10s;
  animation-direction: normal;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
  animation-iteration-count: 1; 
} 

@keyframes glissement { 
  from {
    margin-top: 0%;
    
  }

  to {
    margin-top: 17%;
  
  }
} 

.rezimetit {
  font-size: 1.2rem;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: rgb(255, 255, 255);
  border: none;

animation: fadeInAnimation ease 1s; 
animation-delay: 10s;
animation-fill-mode: forwards; 
animation-iteration-count: 1; 
} 
 @keyframes fadeInAnimation { 
 0% { 
 opacity: 1; 
 } 
 100% { 
 opacity: 0; 
 } 
} 

.rezimtit-mobile{
  display: none;
}
.item1{
  display: none;
}

.lekti{
  animation-name: montee;
  animation-delay: 10s;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  animation-iteration-count: 1; 
} 

@keyframes montee { 
  from {
    margin-top: 3%;
    
  }

  to {
    margin-top: 0%;
  
  }
} 



.btn-info{
  font-size: 15px;
  font-weight: bold;
  padding: 7px 7px 7px 1px;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #ffffff00;
}

.btn-info:hover{
background-color: #ffffff00;
font-size:14.5px;
}

svg {
  height: 20px;
  width: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0, 0.7);
  transition: opacity 0.7s;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 6rem auto;
  padding: 2rem;
  background: linear-gradient(
    to right,
    black,
    rgb(23, 16, 16),
    rgb(0, 0, 0)
  );
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  border-radius: 15px;
  border: 2px solid #000000;
  width: 50%;
  height: 100%;
  position: relative;
  transition: 0.4s ease-in-out;
  overflow-y: scroll;
}

.popup .cross {
  right: 1.5rem;
  top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  transition: 0.3s ease;
  color: white;
  border: 0 solid #0c0c0c;
  cursor: pointer;
}

.popup .cross:hover {
  color: rgb(255, 3, 3);
}

#btn {
  border-radius: 3px 3px 3px 3px;
  background-color: white;
  border: solid 2px white;
  cursor: pointer;
  width: 180px;
  height: 45px;
}

#btn1 {
  border-radius: 3px 3px 3px 3px;
  background-color: rgba(148, 147, 147, 0.325);
  border: solid 2px rgba(255, 255, 255, 0.325);
  cursor: pointer;
  margin-left: 10px;
  width: 180px;
  height: 45px;
}

#btn2 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 254, 254);
  background: rgba(16, 16, 16, 0.232);
  box-shadow: 2px 6px 12px rgb(218, 218, 218);
  padding: 10px 30px 10px 20px;
  border: 1px solid rgb(255, 255, 17);
  outline: none;
  cursor: pointer;
  width: 145px;
  height: 45px;
  text-align: center;
  z-index: 2;
  position: absolute;
  bottom: 60px;
  left: 80px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-sizing: border-box;
}


#btn2:hover {
  cursor: pointer;
  font-size: 14px;
  background: rgb(246, 254, 20);
  box-shadow: 0 0 5px rgb(255, 234, 3), 0 0 20px rgb(255, 234, 3);
  border: 1px solid red;
  color: red;
}


#btn2:active {
  font-size: 12px;
  visibility: hidden;
}

.patne-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 300px auto;
  padding: 10px;
  height: 320px;
  width: 40%;
  justify-items: center;
  cursor: pointer;
  box-shadow: 5px 10px 20px rgb(0, 0, 0);
  background-color: rgba(255, 67, 57, 0.34);
  box-sizing: border-box;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.patne-container:hover {
  transform: scale(1.1);
  transition: margin-right 25s ease-in-out 0.25s;
}

.pub {
  width: 100%;
  height: 310px;
  object-fit: cover;
  padding: 0px;
  filter: brightness(150%);
}

.foot-container {
  width: 100%;
  height: 450px;
  background: linear-gradient(to right, #141414, #141414,black, #000000); 
  position: relative;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(3, 1fr);
  gap: 10px;
  cursor: pointer;
  justify-items: center;
  box-shadow: 0px 0px 4px rgb(218, 218, 218);
}

.foot-item {
  text-align: center;
  color: red;
  padding-top: 30px;
  font-size: 12px;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.more {
  padding-left: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.more:hover {
  font-size: 20px;
  color: rgb(255, 1, 1);
  transition: 0.5s ease;
}

h3 {
  color: rgb(255, 253, 253);
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  grid-column: span 3;
  padding-bottom: 0;
}

.footer1 {
  display: flex;
  justify-content: center;
  grid-column: span 3;
  padding-top: 0;
}

.svg {
  color: rgb(50, 93, 252);
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.svg1 {
  background-color: rgb(16, 88, 255);
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.svg2 {
  color: rgb(0, 202, 118);
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.svg3 {
  color: rgb(16, 203, 255);
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.svg4 {
  color: #ffdd00;
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.svg5 {
  color: #73bef4;
  height: 20px;
  width: 20px;
}

.btn-svg8{
  height: 50px;
  width: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgb(218, 218, 218);
  overflow: hidden;
  
  animation: fade ease 5s; 
  animation-duration: 5s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite; 
} 

 @keyframes fade { 
 0% { 
 opacity: 0; 
 } 
 100% { 
 opacity: 1; 
 } 
} 


.svg8 {
  height: 35px; 
  width: 90px;
  color: rgb(255, 0, 0);
}


/* .after-vidPrincipale{
  transform: translateY(-100px);
}

.after1{
  transform: translateY(-65px);
}

.after2{
  transform: translateY(-65px);
} */

.card-container {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: repeat(6, 220px);
  margin-left: 70px;
  position: relative;
  overflow: hidden;
  column-gap: 20px;
  justify-items: stretch;
}

.listing-card {
  height: 150px;
  background-color: #000000;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
  position: relative;
  /* display: flex; */
  transition: 0.5s ease-in-out;
  width: 220px;
  height: 150px;
}


.listing-card .video {
  height: 120px;
}

.listing-card .video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-sizing: border-box;
}

.listing-card .video video:hover {
  width: 100%;
  height: 150px;
  transition: 1.1s ease-in-out 0.5s;
}


.listing-card .details {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 13px;
}

.listing-card .btn-default {
  background: linear-gradient(
    to right,
    black,
    rgb(23, 16, 16),
    rgb(147, 53, 53)
  );
  display: inline-block;
  position: static;
  color: #fff;
  width: 70px;
  height: 30px;
  border-radius: 0 0 5px 0;
  text-decoration: none;
  margin-left: 150px;
  text-align: right;
}

.titre {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  color:#e5e5e5;
  text-align: left;
  /* text-shadow: 1px 1px 2px red, 0 0 1em rgb(238, 255, 0), 0 0 0.2em rgb(221, 255, 0);  */
  margin-left: 70px;
}

samp {
  color: rgb(113, 255, 12);
  font-weight: bold;
  font-size: medium;
  padding-left: 5px;
  padding-right: 5px;
}


.mobile-list{
  display: none;
}

@media only screen and (max-width: 767px) {
  .img {
    position: relative;
    width: 100%;
    height: 480px;
    cursor: pointer;
    object-fit: cover;
  }

  nav .destop-list {
    display: none;
  }

  
  .mobile-list{
    background-color: #000000; 
    box-shadow: 0px 0px 4px rgb(218, 218, 218);
    filter: brightness(120%);
    display: block;
    color:#959393;
    position: fixed;
    bottom: 0;
    left:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    margin: 0px;
    border-radius: 10px 10px 0 0;
  }

  .mobile-list i{
    font-size: 4vmin;
  }

  #bi1{
   color:rgb(255, 0, 0);
   text-decoration: none;
   filter: none;
   border-radius: 0;
   padding: 0;
   box-shadow: none;
 }

 #bi2{
  color:#959393;
  text-decoration: none;
 }

  #bi3{
    color:#959393;
    text-decoration: none;
   }

  #bi4{
    color:#959393;
    text-decoration: none;
   }
   #bi5{
    color:#959393;
    text-decoration: none;
   }
  

  .logo {
    width: 120px;
    height: 50px;
    border: none;
    filter: brightness(100%);
    top: 1px;
    left: 5PX;
    /* margin-left: 50%;
    transform: translateX(-50%); */
    position: fixed;
    z-index: 1;
  }


  .grid-container {
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-rows: 30px 30px 30px;
    row-gap: 5px;
    height: 350px;
    width: 100%;
    top:150px;
    left: 0;
    justify-content: center;
    
  } 

  @keyframes glissement { 
    from {
      margin-top: none;
      
    }
  
    to {
      margin-top: none;
    
    }
  } 


  .grid-item{
    margin-top: 100px;
    display:flex;
    
  }

  .grantit {
    text-align: center;
    font-size: 50px; 
    width: 100%;
    margin-top: 80px;
    padding: 0px;
    animation-name: none;
    animation-delay: none;
    animation-direction: none;
    animation-duration: none;
    animation-fill-mode: none; 
    animation-iteration-count: none; 

  }

  .rezimetit {
    display: none;
  }

  .item1{
    display: inline-block;
    width: 100%;
    margin-top: 170px;
    margin-left: 30%;
  
  }

  .item2{
    display: flex;
    width: 100%;
    margin-top: 170px;
    margin-left:14%;
    
  }

  .rezimtit-mobile {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color:#e5e5e5;
    border: none;
    padding: 2px 15px 0px 15px;
    text-align: center;

  } 

  
  svg {
    height: 15px;
    width: 15px;
  }

  .btn-info{
    font-size: 13px;
    font-weight: bold;
    padding: 7px 7px 7px 1px;
    color: #000000;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #ffffff00;
  }

  .btn-info:hover{
    background-color: #ffffff00;
    font-size:12.5px;
    }

  #btn {
    border: solid 2px white;
    cursor: pointer;
    width: 140px;
    height: 35px;
    
  }

  #btn1 {
    border-radius: 5px 5px 5px 5px;
    padding: 0 20px 5px 15px;
    cursor: pointer;
    width: 140px;
    height: 35px;
    
  }

  .lekti{
    animation-name: none;
    animation-delay: none;
    animation-direction: none;
    animation-duration: none;
    animation-fill-mode: none; 
    animation-iteration-count: none; 
    text-align: center; 
    align-items: center;
    margin-left: 20%;
    transform: translateX(-20%); 
    
  } 
  
  @keyframes montee { 
    from {
      margin-top: none;
      
    }
  
    to {
      margin-top: none;
    
    }
  } 
  

  #btn2 {
    left: 35px;
  }

 .patne-container {
  width: 80%;
 }

 .btn-svg8{
  height: 45px;
  width: 45px;
  bottom: 100px;
}

.svg8 {
  height: 30px; 
  width: 90px;
}


 .foot-container{
    display: none;
  }


  /* .after-vidPrincipale{
    transform: translateY(2%);
  }
  
  .after1{
    transform: translateY(5%);
  }
  
  .after2{
    transform: translateY(5%);
  }  */

  .card-container {
    display: grid;
    margin-left: 40px;
    grid-template: repeat(4, auto)/ repeat(2,auto);
    position: relative;
    overflow: hidden;
    gap: 50px 1px;
    justify-items: stretch;
  }
  
  .listing-card {
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    position: relative;
    width: 150px;
    height: 180px;
    transition: 0.5s ease-in-out;
  }
  
  .listing-card .video {
    height:160px;
    width:150px;
  }
  
  .listing-card .video video {
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .listing-card .video video:hover {
    width: 100%;
    height: 100%;
    transition: 1.1s ease-in-out 0.5s;
  } 
  
  
  .listing-card .details {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 13px;
  }
  
  .listing-card .btn-default {
    background: linear-gradient(
      to right,
      black,
      rgb(23, 16, 16),
      rgb(234, 23, 23)
    );
    display: inline-block;
    position: static;
    color: #fff;
    width: 70px;
    height: 20px;
    border-radius: 0 0 5px 0;
    text-decoration: none;
    margin-left: 80px;
    text-align: right;
  }
  
  .titre {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 25px;
    color:#e5e5e5;
    text-align: left;
    margin-left: 15px;
  }
  
  samp {
    color: rgb(113, 255, 12);
    font-weight: bold;
    font-size:small;
    padding-left: 5px;
    padding-right: 5px;
  }
  
}

